.contents {
    min-height: 800px;
    width: 95%;
    background-color: transparent;
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;
}

#contents2 {
    top: 0px;
}

#card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: rgba(0, 164, 123, 0.666);
}

.card1 {
    height: 400px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    overflow: scroll;
    box-shadow: 1px 1px 5px rgba(173, 164, 164, 0.681);
}

.card2 {
    height: 400px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    overflow: scroll;
    box-shadow: 1px 1px 5px rgba(173, 164, 164, 0.681);
}


.card1::-webkit-scrollbar {
    display: none;
}

.card2::-webkit-scrollbar {
    display: none;
}


.templet {
    height: 75%;
    width: 30%;
    box-shadow: inset 0.5px 0.5px 4px rgba(128, 128, 128, 0.39);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}


  @media only screen and (max-width: 900px) {

    .card1{
        height: 600px;
    }

    .card2{
        height: 1000px;
    }
   
    .p{
        flex-direction: column;
        padding-bottom: 90px;
    }
    .p .templet{
        width: 95%;
        margin-top: 20px;
    }
  }